@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input.input-num[type="number"] {
  -moz-appearance: textfield;
}
input.input-num::-webkit-inner-spin-button,
input.input-num::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
